/*Utils*/

.cabinet-btnMain {
height: 50px;
width: 157px;
border: 2px solid #1D0608;
background: rgba(252, 191, 73, 0.5);
box-shadow: 2px 4px 0px #1D0608;
border-radius: 6px;
color: #1D0608;
font-size: 16px;
font-weight: 700;
display: flex;
text-align: center;
align-items: center;
justify-content: center;
text-decoration: none;
}
.cabinet-btnMain:hover {
background: linear-gradient(180deg, #FCBF49 0%, #EAE2B7 100%);
}
.cabinet-btnMain:focus {
background: linear-gradient(180deg, #FCBF49 0%, #EAE2B7 100%);
border: 2px solid #1D0608;
outline: none;
}
.cabinet-btnMain {
height: 50px;
width: 157px;
border: 2px solid #1D0608;
background: rgba(252, 191, 73, 0.5);
box-shadow: 2px 4px 0px #1D0608;
border-radius: 6px;
color: #1D0608;
font-size: 16px;
font-weight: 700;
}
.cabinet-btnMain:hover {
background: linear-gradient(180deg, #FCBF49 0%, #EAE2B7 100%);
}
.cabinet-btnMain:focus {
background: linear-gradient(180deg, #FCBF49 0%, #EAE2B7 100%);
border: 2px solid #1D0608;
outline: none;
}

.cabinet-heading span {
font-family: "Macedonia";
font-weight: 400;
color: #1D0608;
text-transform: uppercase;
line-height: 1;
}

.cabinet-textCommon {
font-size: 13px;
color: #1D0608;
font-weight: 400;
line-height: 1;
}

.cabinet-textGreen {
color: #0D6A32;
}

.cabinet-textRed {
color: #D62828;
}

.cabinet-table td, .cabinet-table th {
border-top: 1px solid #000;
}

.cabinet-table thead th {
vertical-align: bottom;
border-bottom: 2px solid #000;
}

/*Main Sections Styles*/
#__next  {
margin: 0;
padding: 0;
font-family: "Poppins", sans-serif;
background: #ECE4DC;
background-image: url(../img/bodyBg.png);
background-size: 90% 98%;
background-position: center;
background-repeat: no-repeat;
}
#__next  a {
text-decoration: none;
color: inherit;
}

.cabinet-header {
padding-top: 50px;
}
.cabinet-headerMain {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
}
.cabinet-headerMain a.cabinet-logo img {
width: 97px;
height: 125px;
}

.cabinet-phase {
width: 100%;
margin-top: 50px;
}
.cabinet-phase .cabinet-phaseMain {
text-align: center;
width: 100%;
}
.cabinet-phase .cabinet-phaseMain span.cabinet-phaseText {
font-size: 60px;
text-transform: uppercase;
text-align: center;
position: relative;
font-weight: 500;
cursor: pointer;
font-family: "Macedonia";
}
.cabinet-phase .cabinet-phaseMain span.cabinet-phaseText::before {
border-style: solid;
border-width: 0.05em 0.05em 0 0;
content: "";
display: inline-block;
height: 0.25em;
right: -30px;
position: absolute;
top: 12px;
transform: rotate(135deg);
vertical-align: top;
width: 0.25em;
}
.cabinet-phase .cabinet-phaseProgress {
height: 90px;
width: 100%;
border-radius: 5px;
border: 5px solid #1D0608;
background: #D9CAB3;
padding: 16px 14px;
box-shadow: 5px 5px 0px #1D0608;
}
.cabinet-phase .cabinet-phaseProgress .cabinet-phaseProgress_indicator {
height: 100%;
width: 100%;
border-radius: 5px;
border: 5px solid #1D0608;
background: #B69A7E;
padding: 10px 34px;
box-shadow: inset 5px 5px 0px #1D0608;
position: relative;
}
.cabinet-phase .cabinet-phaseProgress .cabinet-phaseProgress_indicator .cabinet-phaseProgress_indicator_fill {
position: absolute;
height: 100%;
width: 10%;
background: rgba(252, 191, 73, 0.5);
border-radius: 5px;
top: 0;
left: 0;
z-index: 2;
}
.cabinet-phase .cabinet-phaseProgress .cabinet-phaseProgress_indicator .cabinet-phaseProgress_indicatorSumm {
font-size: 20px;
font-weight: 500;
color: #1D0608;
text-transform: uppercase;
z-index: 3;
position: relative;
}
.cabinet-phase .cabinet-phaseProgress .cabinet-phaseProgress_indicator .cabinet-phaseProgress_indicatorPercent {
font-size: 20px;
font-weight: 500;
color: #1D0608;
text-transform: uppercase;
position: absolute;
top: 10px;
left: 40%;
z-index: 3;
}

.cabinet-phaseModal {
z-index: 9999;
position: fixed;
align-items: center;
justify-content: center;
background: rgba(0, 0, 0, 0.6);
width: 100%;
height: 100%;
top: 0;
display: none;
}
.cabinet-phaseModal .cabinet-phaseModal_main {
width: 652px;
height: 77px;
background: rgba(252, 191, 73, 0.15);
background-image: url(../img/Subtract.png);
background-position: center top;
background-size: contain;
background-repeat: no-repeat;
position: absolute;
top: 273px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0px 60px;
box-shadow: 0px 0px 87px rgba(252, 191, 73, 0.5);
}
.cabinet-phaseModal .cabinet-phaseModal_main a {
text-transform: uppercase;
font-weight: 500;
color: #1D0608;
font-family: "Macedonia";
font-size: 24px;
-webkit-text-stroke: 1px #1D0608;
}
.cabinet-phaseModal .cabinet-phaseModal_main a:hover {
color: #FCBF49;
text-decoration: none;
text-shadow: 0px 0px 10px #FCBF49;
}
.cabinet-phaseModal .cabinet-phaseModal_main a:focus {
color: #FCBF49;
text-decoration: none;
text-shadow: 0px 0px 10px #FCBF49;
}
.cabinet-phaseModal .cabinet-phaseModal_main .cabinet-phaseModal_main_divider {
width: 2px;
height: 70%;
background: linear-gradient(0deg, #DABC9D 0%, #B69A7E 50.79%, #DCBFA0 100%);
}

nav {
width: 30%;
margin: 0 auto;
display: flex;
justify-content: space-between;
margin-top: 50px;
}

.cabinet-about {
margin-top: 50px;
}
.cabinet-about .cabinet-aboutMain {
display: flex;
justify-content: space-between;
}
.cabinet-about .cabinet-aboutMain .cabinet-aboutMain_text {
background-image: url(../img/SubtractAboutText.png);
background-size: 100% 100%;
background-position: center top;
background-repeat: no-repeat;
width: 68%;
padding: 24px 50px;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
}
.cabinet-about .cabinet-aboutMain .cabinet-aboutMain_text .cabinet-heading {
margin-bottom: 10px;
font-size: 40px;
}
.cabinet-about .cabinet-aboutMain .cabinet-aboutMain_text .cabinet-divider {
height: 17px;
width: 100%;
background-image: url(../img/aboutDivider.png);
background-size: contain;
background-position: center top;
background-repeat: no-repeat;
margin: 10px 0;
}
.cabinet-about .cabinet-aboutMain .cabinet-aboutMain_text .cabinet-aboutMain_text_list {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.cabinet-about .cabinet-aboutMain .cabinet-aboutMain_text .cabinet-aboutMain_text_list .cabinet-aboutMain_text_list_item {
width: 50%;
margin-top: 5px;
}
.cabinet-about .cabinet-aboutMain .cabinet-aboutMain_swap {
width: 31%;
background-image: url(../img/SubtractAboutExchange.png);
background-size: 100% 100%;
background-position: center top;
background-repeat: no-repeat;
padding: 20px 40px;
display: flex;
flex-direction: column;
align-items: center;
}
.cabinet-about .cabinet-aboutMain .cabinet-aboutMain_swap .cabinet-aboutMain_swap_balanceItem {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-bottom: 20px;
}
.cabinet-about .cabinet-aboutMain .cabinet-aboutMain_swap .cabinet-aboutMain_swap_balanceItem .cabinet-heading {
font-size: 20px;
}
.cabinet-about .cabinet-aboutMain .cabinet-aboutMain_swap .cabinet-aboutMain_swap_balanceItem .cabinet-num {
background-image: url(../img/SubtractSwapSmall.png);
background-size: 100% 100%;
background-position: center;
background-repeat: no-repeat;
display: flex;
align-items: center;
justify-content: center;
padding: 15px;
font-size: 16px;
color: #1D0608;
font-weight: 700;
height: 50px;
width: 203px;
}
.cabinet-about .cabinet-aboutMain .cabinet-aboutMain_swap .cabinet-aboutMain_swap_balanceItem #small {
width: 144px;
}
.cabinet-about .cabinet-aboutMain .cabinet-aboutMain_swap .cabinet-aboutMain_swap_balanceItem input {
border: 2px solid #1D0608;
border-radius: 5px;
background: #fff;
color: rgba(29, 6, 8, 0.5);
padding: 0 5px;
height: 32px;
margin-top: 10px;
}
.cabinet-about .cabinet-aboutMain .cabinet-aboutMain_swap .cabinet-divider {
height: 4px;
width: 100%;
background: linear-gradient(90deg, #DABC9D 0%, #B69A7E 50.79%, #DCBFA0 100%);
}

.cabinet-history {
margin-top: 70px;
}
.cabinet-history .cabinet-historyMain {
background-image: url(../img/SubtractHistory.png);
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center top;
padding: 24px 60px;
}
.cabinet-history .cabinet-historyMain .cabinet-heading {
text-align: center;
}
.cabinet-history .cabinet-historyMain .cabinet-heading span {
font-size: 36px;
}

.cabinet-phases {
margin-top: 70px;
padding-bottom: 100px;
}
.cabinet-phases .cabinet-phasesMain {
display: flex;
justify-content: space-between;
}
.cabinet-phases .cabinet-phasesMain a {
width: 19%;
}
.cabinet-phases .cabinet-phasesMain .cabinet-phasesMain_item {
width: 100%;
padding: 24px;
padding-top: 10px;
border-radius: 5px;
background: linear-gradient(172.56deg, #D9BA9A -63.25%, #E4D1B6 1%, #D9BA9A 43.78%, #E4D1B6 121.14%, #D9BA9A 357.65%);
border: 2px solid #1D0608;
box-shadow: 2px 4px 0px #23070A;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.cabinet-phases .cabinet-phasesMain .cabinet-phasesMain_item .cabinet-divider {
height: 17px;
width: 80%;
background-image: url(../img/phaseDivider.png);
background-repeat: no-repeat;
background-position: center;
margin-bottom: 10px;
}
.cabinet-phases .cabinet-phasesMain .cabinet-phasesMain_item .cabinet-dividerSmall {
height: 1px;
width: 80%;
background: rgba(29, 6, 8, 0.4);
margin: 10px 0;
}
.cabinet-phases .cabinet-phasesMain .cabinet-phasesMain_item .cabinet-heading {
text-align: center;
font-size: 36px;
}

.cabinet-faq {
margin-top: 70px;
padding-bottom: 70px;
}
.cabinet-faq .cabinet-faqMain .cabinet-faqMain_item {
margin-bottom: 25px;
background: #E7D7BE;
border-radius: 5px;
border: 2px solid #1D0608;
box-shadow: 2px 4px 0px #23070A;
padding: 24px 55px;
position: relative;
width: 100%;
overflow: hidden;
-webkit-user-select: none; /* Safari */
-ms-user-select: none; /* IE 10 and IE 11 */
user-select: none; /* Standard syntax */
}
.cabinet-faq .cabinet-faqMain .cabinet-faqMain_item .cabinet-trigger {
position: absolute;
cursor: pointer;
right: 55px;
top: 24px;
font-size: 20px;
}
.cabinet-faq .cabinet-faqMain .cabinet-faqMain_item .cabinet-heading {
cursor: pointer;
}
.cabinet-faq .cabinet-faqMain .cabinet-faqMain_item .cabinet-heading span {
font-family: "Poppins", sans-serif;
font-size: 20px;
color: #1D0608;
font-weight: 700;
}
.cabinet-faq .cabinet-faqMain .cabinet-faqMain_item .cabinet-answer {
margin-top: 25px;
display: none;
}
.cabinet-faq .cabinet-faqMain .cabinet-faqMain_item .cabinet-answer span {
font-size: 16px;
color: #1D0608;
}

.cabinet-active {
display: flex !important;
}

.cabinet-current {
cursor: pointer;
}

.cabinet-open {
height: auto !important;
}

.cabinet-indHidden {
display: none;
}

.cabinet-private {
background: #BDA083!important;

position: relative;
}
.cabinet-private::after {
position: absolute;
content: '';
width: 100%;
height: 100%;
top: -10px;
left: 0;
background: #BDA083!important;
background-image: url(../img/green.png)!important;
background-position: 100% 100%;
background-size: cover!important;
}

.cabinet-currentPhase {
box-shadow: 0px 0px 10px brown!important;
}

/*Mediaqueries*/
@media screen and (max-width: 1200px) {
nav {
    width: 75%;
}

.cabinet-phases .cabinet-phasesMain {
    flex-wrap: wrap;
}

.cabinet-phases .cabinet-phasesMain a {
    width: 24%;
    margin-bottom: 10px;
}
}
@media screen and (max-width: 991px) {
.cabinet-about .cabinet-aboutMain {
    flex-wrap: wrap;
}

.cabinet-about .cabinet-aboutMain .cabinet-aboutMain_text, .cabinet-about .cabinet-aboutMain .cabinet-aboutMain_swap {
    width: 100%;
    margin-bottom: 10px;
}

.cabinet-history .cabinet-historyMain {
    overflow-x: scroll;
}
.cabinet-history .cabinet-historyMain table {
    min-width: 990px;
}

.cabinet-phases .cabinet-phasesMain a {
    width: 49%;
}

.cabinet-phase .cabinet-phaseProgress .cabinet-phaseProgress_indicator .cabinet-phaseProgress_indicatorPercent {
    display: none;
}
}
@media screen and (max-width: 767px) {
.cabinet-about .cabinet-aboutMain .cabinet-aboutMain_text .cabinet-aboutMain_text_list {
    flex-wrap: wrap;
}

.cabinet-about .cabinet-aboutMain .cabinet-aboutMain_text .cabinet-aboutMain_text_list .cabinet-aboutMain_text_list_item {
    width: 100%;
}

.cabinet-nav {
    width: 100%;
}

.cabinet-phaseModal .cabinet-phaseModal_main {
    zoom: 0.8;
    top: 351px;
}
}
@media screen and (max-width: 456px) {
.cabinet-phases .cabinet-phasesMain a {
    width: 100%;
}

.cabinet-faq .cabinet-faqMain .cabinet-faqMain_item {
    padding: 10px;
}

.cabinet-faq .cabinet-faqMain .cabinet-faqMain_item .cabinet-trigger {
    top: 10px;
    right: 10px;
}
}/*# sourceMappingURL=style.css.map */